/* BODY */
body{
    height: 100vh;
    background-color: #000;
    background-size: cover;
    background-position: center;
}

.center{
    text-align: center;
    color: #fff;
}
li{ /* To edit all the LI-TAG */
    list-style: none;
}

a{ /* To edit all the A-TAG (link) */
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}

a.hover{
    color: hotpink;
}

/* HEADER */
header{
    position: relative;
    padding: 0 2rem;
}

.navbar{ /* To edit the NAVBAR-CLASS */
    width: 100%;
    height: 60px;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar .links{
    display: flex;
    gap: 2rem;
}

.navbar .toggle_btn{
    font-size: 1.5rem;
    cursor: pointer;
    display: none; /* Set it first to none */
}

/* DROPDOWN MENU */
.dropdown_menu{
    display: none;
    position: absolute;
    right: 0;
    top: 60px;
    width: 125px;
    height: 0;
    
    backdrop-filter: blur(15px);
    border-radius: 10px;
    overflow: hidden;
    transition: height 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275)
}

.dropdown_menu.open{
    height: 125px;
}

.dropdown_menu li{
    padding: 0.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* RESPONSIVE DESIGN */
@media(max-width:992px){
    .navbar .links{
        display: none;
    }

    .navbar .toggle_btn{
        display: block;
    }

    .dropdown_menu{
        display: block;
    }
}