@font-face { font-family: Mont; src: url('Mont.otf') format('opentype'); }
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root{
    --font-green        :#b4c785;
    --font-orange       :#f48b1a;
    --font-light-green  :#529086;
    --font-yellow       :#ffff9c;
    --overall-padding   : 1vw;
    --bg-alternate      :#b4c785;
    --bg-primary        :#222c26;

    --vspace-0_125      : calc(0.125 * var(--space));
    --vspace-1_25       : calc(1.25 * var(--space));

    --overall-radius    : 3vw;
    --text-md           : calc(var(--text-sm) * var(--text-scale-ratio) * var(--text-scale-ratio));

    --multiplier       : 1;
	--base-font-size   : calc(2rem * var(--multiplier));
    --text-size        : var(--base-font-size);
}

html{
    scroll-behavior: smooth;
}
body{
    background-color:var(--bg-primary);
}

a{
    color:var(--font-orange);
    text-decoration:none;
}


.laurencio-michael-susanto,
.laurencio-michael-susanto * {
    box-sizing: border-box;
}

.laurencio-michael-susanto {
    color:var(--font-green);
    font-family: Mont;
    font-size: 13vw;
    letter-spacing: -0.7vw;
    line-height: 75%;
    font-weight: 400;
}


.home-about-projects,
.home-about-projects * {
    box-sizing: border-box;
}

.home-about-projects {
    color:var(--font-orange);
    font-family: Mont;
    font-size: 3vw;
    padding:var(--overall-padding);
    line-height: 75%;
    font-weight: 400;
}

/* UPDATING */
.project-quote,
.project-quote *{
    box-sizing: border-box;
}

.project-quote{
    color:var(--font-orange);
    padding:var(--overall-padding);
    font-family: Mont;
    font-size: 2vw;
    line-height: 110%;
    font-weight: 400;
}

#project-main{
    background-color:white;
    width:100%;
    text-align:left;
    font-family: "Roboto Flex",sans-serif;
    font-size:25px;
    padding:2vw;
}
/* END UPDATING*/

#poster{
    float:left;
}

#poster img{
    width:100%;
    height:100%;
    object-fit:cover;
    
    position:relative;
    z-index: -1;
}

#about-me-title{
    background-color: var(--font-yellow);
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: right;
    border-radius: var(--overall-padding);
    color:var(--bg-primary);
    font-family: Mont;
    font-size: 9vw;
    padding: var(--overall-padding);
    line-height: 75%;
    font-weight: 400;
}

#about-me-content{
    background-color: var(--bg-primary);
    color:var(--font-yellow);
    font-family:"Roboto", sans-serif;
    line-height: var(--vspace-0_125);
    font-size: 3vw;
    text-align:center;
}

#about-me-content svg{
    fill:currentColor;
    width:3vw;
    height:3vw; 
}

#projects-title{
    display:flex;
    justify-content: center;
    align-items: center;
    
    color:var(--bg-alternate);
    padding: var(--overall-padding);
    font-family: Mont;
    font-size: 9vw;
    line-height: 75%;
    font-weight: 400;
}

#projects-cards{
    background-color: var(--bg-alternate);
}

.card-body h5{
    font-size:2.5vw;
    font-family: "Roboto",sans-serif;
    color:var(--bg-primary);
}

.card-body p{
    font-size:1vw;
    font-family: "Roboto Flex",sans-serif;
    color:var(--bg-primary);
}

.footerContainer{
    width:100%;
    padding:20px 5px 2px;
}

.socialIcons{
    display:flex;
    justify-content: center;
}

.socialIcons a{
    text-decoration: none;
    padding:10px;
    background-color:var(--font-yellow);
    margin:10px;
    border-radius:100px;
}

.socialIcons a i{
    color:var(--bg-primary);
    opacity: 0.9;
}

.socialIcons a:hover{
    background-color:var(--bg-primary);
    transition: 0.5s;
}

.socialIcons a:hover i{
    color:var(--font-yellow);
    transition: 0.5s;
}

.footerBottom{
    padding:10px;
    text-align:center;
}

.footerBottom p{
    color:var(--font-yellow);
    font-family: "Roboto",sans-serif;
}

@media only screen and (max-width:550px){
    #about-me-content{
        background-color: var(--bg-primary);
        color:var(--font-yellow);
        font-family:"Roboto", sans-serif;
        line-height: var(--vspace-0_125);
        font-size: 15px;
        text-align:center;
    }
 
    #about-me-content svg{
        fill:currentColor;
        width:15px;
        height:15px; 
    }
    /* UPDATING */
    .project-quote{
      	font-size:3vw;    
     }
    /* END UPDATING */
    .card-body h5{
        font-size:30px;
        font-family: "Roboto",sans-serif;
        color:var(--bg-primary);
    }
    
    .card-body p{
        font-size:15px;
        font-family: "Roboto Flex",sans-serif;
        color:var(--bg-primary);
    }
}
